@use 'sass:color';

$accent: #a6a;
$primary: lighten($accent, 30%);
$secondary: 111;
$tertiary: $accent;
$text: #333;
$light-text: #fff;
$background: white;
$selection-background: $accent;
$selection-text: white;
$button-hover: lighten($accent, 5%);
$button-active: $accent;
$border: saturate($accent, 50%);
