@use 'color';

.nav {
    background-color: color.$accent;
    grid-column: 1/span 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
        display: block;
        list-style: none;
        box-sizing: content-box;

        a {
            display: block;
            color: color.$light-text;
            text-decoration: none;
            padding: 1em;
            transition: background-color 0.2s ease-out;

            &:hover {
                background-color: color.$button-hover;
            }
        }
    }
}

.menubtn {
    cursor: pointer;
    display: none;
}

#hmenu {
    display: none;
}

@media screen and (max-width: 960px) {
    .nav li {
        display: inline-block;
    }
}

@media screen and (max-width: 700px) {
    .nav {
        height: 0;
        transition: all 0.3s cubic-bezier(.47,1.64,.51,.85);

        ul {
            width: 100%;

            li {
                display: block;
            }
        }
    }

    .menubtn {
        display: block;
    }

    .container:has(.header #hmenu:checked) .nav {
        display: flex;
        flex-direction: row;
        height: 500px;
        overflow: visible;
    }
}