@use 'fonts';
@use 'base';
@use 'color';
@import 'card';
@import 'navigation';

body {
  height: 100vh;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: color.$background;
  color: color.$text;
}

/* ----- Layout ----- */

.container {
  margin: 0 auto;
  height: 100%;
  max-width: base.$breakpoint-lg;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content auto min-content;
}

.main,
.footer {
  border: 1px dashed color.$border;
  padding: 1em;
}

.header {
  background-color: color.$primary;
  grid-column: 1/span 12;
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: 1.5em;
}

.header .title {
  padding: 0.5em;
}

.header .logo {
  color: color.$text;
}

.menubtn {
  padding: 0.5em 0.7em;
}

.menubtn:hover {
  background-color: color.$button-hover;
}

.menubtn:active {
  background-color: color.$button-active;
}

#hmenu:checked~.menubtn {
  background-color: color.$button-active;
  color: white;
}

.main {
  background-color: color.$secondary;
  grid-column: 4/span 12;
}

.footer {
  background-color: color.$tertiary;
  grid-column: 1/span 12;
  grid-row: 3;
}

/* ----- Helper classes ----- */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-2 {
  gap: 2em;
}

.cols-1 {
  grid-template-columns: 1fr;
}

.cols-2 {
  grid-template-columns: 1fr, 1fr;
}

.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* ----- Container elements ----- */

.flexwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.gridwrap {
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 960px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .cols-2 {
    grid-template-columns: 1fr;
  }

  .cols-3 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .cols-3 {
    grid-template-columns: 1fr;
  }
}
