@use 'fonts';
@use 'base';
@use 'color';
@import 'card';
@import 'navigation';

body {
  height: 100vh;
  font-size: 1.2em;
  font-family: fonts.$default-font;
  background-color: color.$background;

}

/* ----- Layout ----- */

.container {
  margin: 0 auto;
  height: 100%;
  max-width: base.$breakpoint-lg;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content auto min-content;

  & > .header {
    background-color: color.$accent-dark;
    color: color.$light-text;
    grid-column: 1/span 12;
    display: flex;
    gap: 1em;
    align-items: center;
    font-size: 1.5em;

    .title {
      padding: 0.5em;
    }
  }

  & > .main {
    background-color: color.$background;
    grid-column: 4/span 12;
  }

  & > .footer {
    background-color: color.$accent-dark;
    color: color.$light-text;
    grid-column: 1/span 12;
    grid-row: 3;
  }

  & > .main,
  & > .footer {
    padding: 1em;
  }
}

/* ----- Helper classes ----- */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-2 {
  gap: 2em;
}

.cols-1 {
  grid-template-columns: 1fr;
}

.cols-2 {
  grid-template-columns: 1fr, 1fr;
}

.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* ----- Container elements ----- */

.flexwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.gridwrap {
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: base.$breakpoint-md) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .cols-2 {
    grid-template-columns: 1fr;
  }

  .cols-3 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: base.$breakpoint-sm) {
  .cols-3 {
    grid-template-columns: 1fr;
  }
}