@use 'fonts';
@use 'base';
@use 'color';

@use 'card';
@use 'navigation';

body {
  height: 100vh;
  font-size: 1.2em;
  font-family: fonts.$default-font;
  background-color: color.$background;
}

/* ----- Layout ----- */

.container {
  margin: 0 auto;
  height: 100%;
  max-width: base.$breakpoint-lg;
  min-width: calc(base.$breakpoint-sm / 2);
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  grid-template-columns: repeat(min-content 1fr);
  grid-template-rows: min-content auto min-content;

  > .header {
    grid-area: header;
    background-color: color.$accent-dark;
    color: color.$light-text;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5em;
    transition: ease all .5s;

    .title {
      margin: 0.8rem;
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
  }

  .nav {
    grid-area: nav;
    background-color: color.$nav;

    li > a {
      padding: 0.5em 2em 0.5em 1em;
    }
  }

  .main {
    grid-area: main;
    background-color: color.$background;
    padding: 1em;
  }

  .footer {
    padding: 0.5rem;
    grid-area: footer;
    background-color: color.$accent-dark;
    color: color.$light-text;
  }
}

.searchbar {
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: color.$light-text;

  label {
    color: color.$light-text;
    position: relative;
    right: -2em;
    font-size: 0.8em;
    pointer-events: none;
    order: -1;
  }

  input {
    width: 200px;
    padding: 0.3em;
    padding-left: 2.5em;
    border: none;
    outline: none;
    border-radius: 0.5em;
    font-size: 0.8em;
    background-color: color.$accent-mid-dark;
    transition:
      background-color 0.2s linear,
      width 0.2s ease-in-out;

    &::placeholder {
      color: color.$light-text;
    }

    &:focus,
    &:not(:placeholder-shown) {
      width: 100%;
      color: color.$text;
      background-color: color.$background;

      ~ label i {
        color: color.$text;
      }
    }
  }
}

/* ----- Helper classes ----- */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-2 {
  gap: 2em;
}

.cols-1 {
  grid-template-columns: 1fr;
}

.cols-2 {
  grid-template-columns: 1fr, 1fr;
}

.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* ----- Container elements ----- */

.flexwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.gridwrap {
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: base.$breakpoint-md) {
  .container {
    display: flex;
    flex-direction: column;

    .nav {

      li > a {
        padding: 0.5em;
      }
    }
  }

  .cols-2 {
    grid-template-columns: 1fr;
  }

  .cols-3 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: base.$breakpoint-sm) {
  .cols-3 {
    grid-template-columns: 1fr;
  }

  .container .header {

    flex-wrap: nowrap;

    &:focus-within {
      #nav-icon,
      .title {
        display: none;
      }
    }
  }

  .searchbar {
    margin: 0.8rem auto;
    display: flex;
    align-items: center;
    color: color.$light-text;

    input {
      width: 0px;
      padding: 0.3em;
      padding-left: 2.5em;
      transition: none;

      &::placeholder {
        color: color.$light-text;
      }

      &:focus,
      &:not(:placeholder-shown) {
        width: 100%;
        color: color.$text;
        background-color: color.$background;
        justify-content: flex-start;

        ~ i {
          color: color.$text;
        }
      }
    }
  }

}